body {
    background-color: white;
    color: black;
}

h1{
    font-weight: bold;
}

img {
    max-width: 25%; 
    max-height: 25%;
    display: inline-block;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}